.container-create-city-component{
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/2dcountries.webp');
  min-height: 100vh;
  width: 197vh;
  background-position: center;
  background-repeat: no-repeat;
}


.submit-form {
  margin-top: 25px;
  background-color: rgb(116, 116, 236);
  padding: 2px 8px 2px 8px;
  border: 1px solid black;
  font-weight: bold;
  margin-left: 10px;
  border-radius: 15px;
  font-size: 16px;
  width: 380px;
  cursor: pointer;
  color: beige;
}

.submit-form-disabled{
  margin-top: 25px;
  background-color: rgb(116, 116, 236);
  padding: 2px 8px 2px 8px;
  border: 1px solid black;
  font-weight: bold;
  margin-left: 10px;
  border-radius: 15px;
  font-size: 16px;
  width: 380px;
  color: beige;
  opacity: 0.4;
}

.submit-form:hover{
  opacity: 0.8;
}

.form{
  padding: 15px;
  border: 2px solid rgb(67, 67, 131);
  background-color: white;
  margin-left: 420px;
  margin-right: 200px;
  width: 600px;
  min-height: 400px;
  font-family: 'Times New Roman', Times, serif;
  padding: 20px 0 20px 0;
  border-radius: 6px;
  opacity: 0.9;
  /* font-weight: bold; */
}

#form-instruction{
  margin-right: 35px;
}

.all-labels-titles{
  color: red;
}

.fields{
  width: 400px;
  margin: 10px;
  border-radius: 3px;
  border: 1px solid blue;
}

.fields:focus{
  border: 1px solid green;
}

.other{
  margin-left: 3px;
  font-weight: bold;
}

.error{
  color: red;
  margin-top: -10px;
  margin-bottom: -2px;
}

#get-back-form{
  margin-top: 45px;
  background-color: rgb(116, 116, 236);
  padding: 10px 20px 10px 20px;
  border: 1px solid black;
  font-weight: bold;
  border-radius: 15px;
  font-size: 28px;
  cursor: pointer;
  color: beige;
}

#text-before-form{
  font-size: 35px;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(219, 219, 36);
  -webkit-text-stroke: 1px black;
  margin-left: -25px;
  margin-bottom: 10px;
  margin-top: 0vh;
  padding: 35px 0px 10px 0px;
}

#form-instruction{
  font-weight: bold;
  margin-left: 45px;
}

#cancel-country{
  background-color: red;
  color: white;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
}


