.detail-container{
  background-color: rgb(248, 248, 178);
  min-height: 45vh;
  background-size: 1800px 1800px;
  background-attachment: fixed;
  background-position: center;
  padding-top: 20px;
  background-size: cover;
  margin-bottom: -20px;

}

/* h1, h2, h3{
  padding-top: 10px;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
}  */

.detail-props{
  margin-top: 50px;
  min-height: 680px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.first-block-plane-text{
  color: red;
  font-weight: bold;
}
.second-block-plane-text{
  color: red;
  font-weight: bold;
  text-align: left;
  margin: 10px 0px 35px 0px;
  margin-left: 30vh;
}

.span-detail{
  color: black;
}

#img-detail{
  margin-top: 60px;
  height: 300px;
  width: 460px;
  margin-left: 1vh;

}

#detail-button-goback{
  margin-top: 25px;
  background-color: rgb(116, 116, 236);
  padding: 10px 20px 10px 20px;
  border: 1px solid black;
  font-weight: bold;
  border-radius: 15px;
  font-size: 28px;
  cursor: pointer;
  color: beige;
  /* margin-left: -12vh; */
  margin-bottom: 20px;
}

#error-msg-detail{
  margin-top: 300px;
  font-size: 30px;
}


