.main-container{
  
  background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url('../images/terraqueous-globe.jpg');
  background-repeat: no-repeat;
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  padding-top: 20px;
  background-size: cover;
}

.link-each-card {
  text-decoration: none;
}
.container-home-country{
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 15px;
  
}

.button-get-all-again-create-search{
  margin-right: 15px;
  margin-left: 20px;
  background-color: rgb(116, 116, 236);
  border: 1px solid black;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  height: 25px;
  padding: 0px 10px 0px 10px;
  font-size: 18px;
}
.button-get-all-again-create-search:hover{
  opacity: 0.8;
}
.spans{
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  /* color: rgb(56, 56, 5); */
  color: rgb(0, 0, 0);
  font-size: 18px;
}
.selects{
  margin-right: 20px;
  height: 20px;
  margin-top: -50px;

}

#container-selects{
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: -50px;
  /* display: flex; */
  /* justify-content: row; */
}

#title-home{
  font-size: 35px;
  font-family: 'Times New Roman', Times, serif;
  color: beige;
  -webkit-text-stroke: 1px black;
}

#no-activity-created{
  margin-top: 120px;
  font-size: 38px;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(226, 0, 0);
  -webkit-text-stroke: 1px black;
}

#just-begin{
  margin-top: 120px;
  font-size: 65px;
  font-family: 'Times New Roman', Times, serif;
  color: white;
  -webkit-text-stroke: 3px black;
}