.landing{

  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('../images/2dcountries.webp');
  min-height: 752px;
  width: 1465px;
  /* min-height: 100%;
  width: 100%; */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 1px;
  margin-left: -2px;
  
}

.landing:before{
  content: '';
  width: 1462px;
  min-height: 752px;
  position: absolute;
  /* background: linear-gradient(blue, purple); */
  background: linear-gradient(rgb(119, 53, 53), rgb(17, 0, 255), rgb(0, 255, 106));
  margin-left: -730px;
  opacity: 0.3;
  
}

#title-landing{
  margin-top: 5rem;
  font-size: 4rem;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(50, 47, 240);
  -webkit-text-stroke: 2px rgb(209, 21, 124);
  z-index: 100;    /* TRAER AL FRENTE position: absolute y z-index:100 */
  position: relative;
  margin-right: 4rem;

}

#p-landing{
  margin-top: 130px;
  font-size: 3rem;
  /* margin-left: 50px; */
  margin-right: 50px;
  /* color: rgb(145, 255, 0); */
  color: white;
  -webkit-text-stroke: 2px black;
  z-index: 100;    /* TRAER AL FRENTE position: absolute y z-index:100 */
  position: relative;
}

.gif-container{
  margin-top: -50px;
  position: relative;
  display: inline-block;
  text-align: center;
  margin-right: 2.5rem;
}

.gif-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: blueviolet; */
  font-size: 20px;
  color: white;
  z-index: 100;    /* TRAER AL FRENTE position: absolute y z-index:100 */
  position: relative;
  margin-top: -180px;
  margin-left: 15px;
  font-weight: bold;
  font-size: 60px;
  font-family: 'Courier New', Courier, monospace;

}

#button-landing{
  margin-top: 80px;
  background-color: blueviolet;
  padding: 20px 30px 20px 30px;
  border: 1px solid black;
  font-weight: bold;
  border-radius: 15px;
  font-size: 28px;
  cursor: pointer;
  transition: 0.5s;
  z-index: 100;    /* TRAER AL FRENTE position: absolute y z-index:100 */
  position: relative;
}

#button-landing:hover{

  background-color: blue;
  color: black;
  padding: 20px 30px 20px 30px;
  opacity: 0.8;
  z-index: 100;    /* TRAER AL FRENTE position: absolute y z-index:100 */
  position: relative;  /* TRAER AL FRENTE */

}